agm-map {
  height: 700px;
  padding: 20;
}

.agm-map-container-inner {
  width: inherit;
  height: inherit;
}

.agm-map-content {
  display:none;
}

.controls {
  position: absolute;
  z-index: 999;
  top: 10px;
  right: 20px;
}

.infowindow {
  color:black;
}

.mat-card {
  /* margin-top: auto; */
  margin: auto;
  /* margin-top: -10px; */
}