table {
  width: 100%;
  /* margin-bottom:0px; */
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

.mat-header-cell {
  min-height:25px;
  /* font-family:Verdana,sans-serif; */
  font-weight:bold;
  font-size:13px;
  /* color: #FF6D00; #1a084c; */
  margin-bottom:5px;
  top: 0;
  position: sticky;
  z-index: 1;
  background-color: inherit;
}

.mat-card {
  /* margin-top: auto; */
  margin: auto;
  margin-bottom:5px;
  /* margin-top: -5px; */
  /* margin-left: -5px; */
}