<td-layout [mode]="(media.registerQuery('gt-sm') | async) ? 'side' : 'push'"
	[sidenavWidth]="(media.registerQuery('gt-xs') | async) ? '240px' : '100%'" [class]="activeTheme">
	<td-navigation-drawer #sidenav flex [sidenavTitle]="name" name="Firstname Lastname" email="firstname.lastname@company.com">
		<mat-nav-list>

 		 <a *ngFor="let item of routes" mat-list-item routerLink="{{item.path}}" (click)="sidenav.toggle()">
				<mat-icon>{{item.icon}}</mat-icon>{{item.label}}
			</a>
		</mat-nav-list>
		<!-- <div td-navigation-drawer-menu>
			<mat-nav-list>
				<a *ngFor="let item of usermenu" mat-list-item>
					<mat-icon>{{item.icon}}</mat-icon>{{item.title}}
				</a>
			</mat-nav-list>
		</div> -->
	</td-navigation-drawer>
	<td-layout-nav [toolbarTitle]="name" navigationRoute="/">
		<button mat-icon-button td-menu-button tdLayoutToggle>
      <mat-icon>menu</mat-icon>
    </button>
		<div td-toolbar-content layout="row" layout-align="end" flex>

        <button mat-icon-button
                matTooltip="Card settings"
                [mat-menu-trigger-for]="settings1">
          <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu xPosition="before" #settings1="matMenu">
          <mat-card>
            <mat-card-subtitle>Escolha o estilo do mapa</mat-card-subtitle>
            <mat-card-content>
              <mat-select [(ngModel)]="selectedStyle" name="style" (selectionChange)="changeStyle($event.value)">
                <mat-option *ngFor="let style of mapStyles" [value]="style.id">
                  {{ style.name}}
                </mat-option>
              </mat-select>
            </mat-card-content>
          </mat-card>
        </mat-menu>


					<button mat-icon-button matTooltip="Trocar o tema da página"  *ngIf="activeTheme === 'theme-dark'" (click)="theme('theme-light')">
              <mat-icon>brightness_high</mat-icon>
              <!-- <span>Modo Claro</span> -->
        </button>
					<button mat-icon-button matTooltip="Trocar o tema da página"  *ngIf="activeTheme != 'theme-dark'" (click)="theme('theme-dark')">
              <mat-icon>brightness_low</mat-icon>
              <!-- <span>Modo Escuro</span> -->
        </button>
		</div>

		<!-- números do Covid -->
		<crc-toolbar></crc-toolbar>
    <router-outlet></router-outlet>
		<td-layout-footer>
			<div layout="row" layout-align="start center">
				<span class="mat-caption">Projeto opensource sobre o avanço do COVID-19 no Brasil</span>
			</div>
		</td-layout-footer>
	</td-layout-nav>
</td-layout>