.image-info {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    /* padding: 10px; */
    /* border: solid 10px red; */
    text-align: center;
    /* height: 300px; */
    display: flex;
    align-items: center;
    box-sizing: content-box;
}
img {
    margin: auto;
    width: 100%;
    max-width: 100%;
    max-height:100%;
}

img.align-self {
  align-self: center;
}