<mat-card>
	<mat-card-title>Informações sobre o COVID-19</mat-card-title>
	<mat-card-subtitle>Fonte: <a href="https://coronavirus.saude.gov.br/" target="_blank"> Ministério da Saúde</a>
	</mat-card-subtitle>
	<mat-divider></mat-divider>
	<mat-card-content>
		<mat-accordion displayMode="" multi="false" class="mat-table" togglePosition ="before">
			<mat-expansion-panel *ngFor="let item of dados; let i = index">
				<mat-expansion-panel-header class="mat-row">
           <strong>{{i+1}}) {{item.header}}</strong>
				</mat-expansion-panel-header>
				<div align="justify">{{item.content}}</div>
        <p *ngIf="item.image">
  				<img class="align-self" src="{{url}}/{{item.image}}">
        </p>
			</mat-expansion-panel>
		</mat-accordion>
	</mat-card-content>
</mat-card>