<mat-card>
	<mat-card-title>Situação diária</mat-card-title>
	<mat-card-content>
		<div class="mat-elevation-z8">
			<p-chart type="line" [data]="chartAvanco" (onDataSelect)="selectData($event)" [height]="290"></p-chart>
		</div>
	</mat-card-content>
</mat-card>

<mat-card>
	<mat-card-title>Números de casos por estado</mat-card-title>
	<mat-card-content>
		<div class="mat-elevation-z8">
			<p-chart type="bar" [data]="chartCasos" [height]="290"></p-chart>
		</div>
	</mat-card-content>
</mat-card>

<mat-card>
	<mat-card-title>Números de mortes por estado</mat-card-title>
	<mat-card-content>
		<div class="mat-elevation-z8">
			<p-chart type="bar" [data]="chartMortes" [height]="290"></p-chart>
		</div>
	</mat-card-content>
</mat-card>
